<%= form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div  class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>

  </div>
    <div  class="field">
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
