<h1>Listing offerings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.name %></td>
        <td><%= offering.detail %></td>
        <td><%= offering.start_date %></td>
        <td><%= offering.end_date %></td>

        <td><%= link_to 'Show', offering %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Offering', new_offering_path %>


<% if current_user %>
  <% if current_user.admission_request%>
    <%= link_to "View application",admission_request_path(current_user.admission_request)%>
  <%else %>
    <%= link_to "Apply now",new_admission_request_path%>
  <% end %>
<% end %>