<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offering.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @offering.detail %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @offering.start_date %>
</p>


<p>
  <strong>End Date:</strong>
  <%= @offering.end_date %>
</p>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
