<h1>Listing admission_requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Why join</th>
      <th>Previous programming exp</th>
      <th>Best thing ever</th>
      <th>Find about cf</th>
      <th>Phone number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admission_requests.each do |admission_request| %>
      <tr>
        <td><%= admission_request.user_id %></td>
        <td><%= admission_request.why_join %></td>
        <td><%= admission_request.previous_programming_exp %></td>
        <td><%= admission_request.best_thing_ever %></td>
        <td><%= admission_request.find_about_cf %></td>
        <td><%= admission_request.phone_number %></td>
        <td><%= link_to 'Show', admission_request %></td>
        <td><%= link_to 'Edit', edit_admission_request_path(admission_request) %></td>
        <td><%= link_to 'Destroy', admission_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<hr>

<%- model_class = User -%>
<h2 class="text-info">User Login/Session Report</h2><br>
<div class="container">
  <div class="span6">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>Delete User</th>
          <th>User Email</th>
          <th>Last Sign In</th>
          <th>Sign In Count</th>
          <th>Confirmed At</th>
          <th>Confirmation Token</th>
          <th>Authentication Token</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to 'Delete User', delete_user_path(user), data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
            <td><%= user.email %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.confirmed_at %></td>
            <td><%= user.confirmation_token %></td>
            <td><%= user.authentication_token %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

